<html>

<head th:replace="~{header::header}"></head>

<body>
    <div class="container">
        <form th:action="@{/manufacturer/save}" method="post" th:object="${manufacturer}">
            <legend>Criar um novo Fabricante</legend>
            <div class="mb-3">
                <label class="form-label">Nome do Fabricante</label>
                <input class="form-control" type="text" th:field="*{name}" id="name" name="name" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-error"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Data de Criação</label>
                <input class="form-control" type="date" th:field="*{creationDate}" />
            </div>
            <input type="submit" value="Criar Fabricante" class="btn btn-primary">
        </form>
    </div>
</body>

</html>
